<div class="px-2 text-wrap max-w-xl mx-auto mt-10">
  <p>
    On behalf of [Organization], we would like to extend our sincere gratitude for taking the time to complete our
    survey. Your valuable feedback plays a crucial role in helping us understand the needs and experiences of our
    employees.
  </p>
  <p>
    Your participation allows us to identify areas where we excel and areas where we can improve to create a better
    workplace environment for everyone. Your insights are instrumental in shaping the future of our organization, and we
    truly appreciate your contribution.
  </p>
  <p>
    Thank you once again for your time and dedication. We are committed to listening to your voices and taking action to
    make positive changes based on your feedback
  </p>
</div>
<div class="px-2 max-w-xl mx-auto mt-10 ">
    <img src="/assets/images/Thank-You-gif-Free.webp" alt="">
</div>