<div class="px-2 text-wrap max-w-xl mx-auto mt-10">
    <p>
      The data collected from this survey is intended for internal use by the
      organization to identify areas for improvement and enhance working
      conditions. Participation in the survey is voluntary, and responses are
      anonymous to ensure confidentiality. The survey provides employees with an
      opportunity to voice their opinions and concerns, enabling the organization
      to listen to their feedback and take appropriate actions to address any
      issues raised. The information collected is used solely for the purpose of
      improving the employee experience and organizational effectiveness.
    </p>
    <br /><br />
    <button
      (click)="onClickStart()"
      type="button"
      class="text-white bg-gradient-to-r from-gray-400 via-gray-500 to-gray-600 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-black-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center me-2 mb-2"
    >
      Start Survey
    </button>
  </div>